@import "../../files/less/core";

@pagesize: 960px;
@yellow: #FFF500;


.wrap {
	width: @pagesize;
	margin:0 auto;
}

body{
	background-color: @yellow;
	font-size:12px;
}

@import "grid";

@import "typo";

@import "menu";


